*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    position: relative;
    margin: 120px 0;
}

.w-70{
    width: 70%;
}

.delete-modal{
    position: absolute;
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.message-modal{
    position: absolute;
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}